bin/
gen/
obj/
proguard/
artifacts/
.classpath
.project
.DS_Store
.settings
pkgs/
local.properties
.hg
.hgtags
.hgignore
NineGameClient.iml
.idea/
out
*.out
*.orig
project.properties
ninegameclient1.iml
assets/ucgamesdk/account_h5_text.html
lint.xml
